# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Temporary folder
tmp/
release/
debug/
.vs/

# Executables
*.exe
*.out
*.app
*.stash
*.suo
*.ilk
*.pdb
*.sln
*.db
*.user
*.tlog
*.log
*.vcxproj
*.filters
*.opendb
*.db-wal
*.db-shm
*.exp
